REACT_APP_SUPABASE_URL=https://nhbazqqortcneqwecrjp.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaWF0IjoxNjM5NTA3NTczLCJleHAiOjE5NTUwODM1NzN9.f4qjyDYMPJ9h4R0e242QzmIk5KXeKuttUdFcjV5leJg