.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create, .update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

.create>* , .update>* {
  margin: 10px;
}

.needDescript {
  text-align: center;
  align-self: stretch;
  vertical-align: middle;
}

.leaf {
  margin: 2rem;
  background-color: beige;
}

.leaf-list {
  margin: 20px;
}

.update {
  background-color: gold;
}

.delete {
  background-color: salmon;
}

.btn-special {
  width: 100px;
  height: 20px;
  display: none;
  cursor: pointer;
}
.leaf:hover > .btn-special, .btn-special:hover {
  display: inline-block;
}


.updateLink {
  text-decoration: none;
}
